.auth-container {
    width: 350px;
    margin: 80px auto;
    padding: 30px;
    box-shadow: 0 0 10px #ddd;
    border-radius: 8px;
    text-align: center;
  }
  
  .auth-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }
  
  .auth-container button {
    width: 100%;
    padding: 10px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
  }
  
  .auth-container button:hover {
    background: #1d4ed8;
    transform: scale(1.02);
  }
  